body {
  font-family: 'Krub', sans-serif;
}

/* MODIFICACIONES DE COLOR */

#color-crimson {
  color: crimson;
  background-color: antiquewhite;
}

#color-hexa {
  color: #3333ff;
  background-color: #f6ff33;
}

#color-rgb {
  color: rgb(88, 147, 47);
  background-color: rgb(230, 244, 221);
}

#color-hsl {
  color: hsl(313, 82%, 56%);
  background-color: hsl(73, 82.1%, 56.1%);
}

span {
  color: blue;
  font-style: italic;
}

.explicacion {
  background-color: yellow;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}